
# Include the README
include *.md

# Include the license file
include LICENSE.txt

include pyproject.toml

# Include the data files
recursive-include datafiles *

# Include the sample data
include compressnets/sample_network
